<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.cnm.deepdive.sno">

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_sno_launcher"
    android:label="@string/app_name"
    android:name=".SnoApplication"
    android:roundIcon="@mipmap/ic_sno_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".controller.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".controller.NavigationActivity">
    </activity>
  </application>

</manifest>